/* desendent combinator */
.container p{
    color: blue;
}
 /* child selector */
  .container > p.child{
    color:green;
  }
  /* adjacent sibling selector */
  .sibling-example h2 + p.adjacent{
      color: red;
  }
  /* general sibling selector */
  .far-sibling-example~p.end{
    color: purple;
  }
  /* background-color */
  .container span{
    background-color: yellow;
  }
  