/* content area */
.box {
    width:300px;
    height:150px;
}
/*padding */
.first-box{
    padding: 20px;
  border:dashed black;
   background-color: red;
   margin: 10px;
   border-radius:10px 15px; 
}
/*border */
.second-box{
    border:5px solid black;
border-radius:10px 0 20px 5px;
padding: 10px 20px 10px;
background-color: pink;
}
/* margin */
.third-box{
    border-radius: 15px;
    margin: 30px;
    border: black solid 5px; 
    padding: 20px 0 15px 5px;
    background-color: aquamarine;  
}
/*box sizing*/
*{
    box-sizing:border-box;
}



